.show-mobile {
  display: none;
}
.header .slider {
  padding-right: 0;
}

.header .menu {
  position: absolute;
  top: 3rem;
  left: 12rem;
}

.header .menu ul li {
  padding: 0 25px;
}

.header .menu ul li a {
  text-transform: uppercase;
  color: #2b2b2b;
  font-weight: bold;
}
.header .menu ul li a.coler-wight {
  color: #ffffff;
}

.header .logo {
  padding-left: 20px;
}

.header .logo .pagination {
  padding-left: 4rem;
}
.header .logo .pagination .pagination-up {
  margin-top: 30px;
  margin-bottom: 26px;
}

.header .logo .pagination .boder {
  padding-left: 8px;
  margin-top: 10px;
}
.header .logo .pagination .page {
  margin-top: 25px;
  font-size: 13px;
}
.header .logo .pagination .page p {
  margin-bottom: 15px;
  font-weight: bold;
}
.header .logo .pagination .page .active {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 10px 15px 6px #dee0e1;
  font-size: 30px;
  margin-left: -16px;
}

.header .header-decreption {
  position: absolute;
  top: 15rem;
  left: 14rem;
}
.header .header-decreption .decreption__title {
  font-size: 16px;
  color: #545454;
  margin-bottom: 14px;
}
.header .header-decreption .decreption__content {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 12px;
  text-transform: uppercase;
}
.header .header-decreption .decreption__more {
  color: var(--primary-color);
  margin-left: 6rem;
  font-size: 16px;
}
.header .header-decreption .decreption__more span {
  margin-right: 11px;
  font-weight: 600;
}
.introduct {
  max-width: 1340px;
  margin: 0 auto;
}
.introduct .block {
  background-image: url("../images/block1/boder_content.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -10rem;
  padding: 45px 27px 0 182px;
  margin-top: 7rem;
  position: relative;
}
.introduct .block .block-content,
.categories .block .block-content {
  color: var(--text-color);
}
.introduct .img {
  position: relative;
}
.introduct .img .img-content {
  position: absolute;
  top: 14em;
  right: 2em;
  z-index: 1;
}
.introduct .img .img-content .img-title,
.categories .img .img-content .img-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 6px;
}
.introduct .img .img-content .img-desc,
.categories .img .img-content .img-desc {
  color: #edf0e7;
  font-size: 16px;
  font-weight: 500;
}
.introduct .img .img-content .img-desc {
  float: right;
}
/*---------------------------------*/

.categories {
  min-height: 685px;
  background-color: #ededed;
  padding: 130px 0 130px 100px;
  position: relative;
}
.categories .block {
  background-image: url("../images/block2/border_navysalt2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 238px 10px 30px;
  margin-top: 7rem;
  position: absolute;
  z-index: 1;
}
.categories .block .block-content {
  line-height: 2;
}
.categories .img {
  position: absolute;
  right: 0;
  padding-right: 0;
}
.categories .img .img-content {
  position: absolute;
  top: 16em;
  left: 5em;
  z-index: 1;
}
.categories .img .img-content .img-desc {
  margin-left: 50px;
}

.collection .collection-title {
  text-transform: uppercase;
  margin: 0px 0 80px 15em;
}
.collection .collection-title h1 {
  letter-spacing: 10px;
  font-size: 44px;
}
.collection .collection-title p {
  margin-top: 30px;
  float: right;
}
.collection .collection-title span:last-child {
  background-color: #e1d9c9;
  padding: 3px 200px 3px 3px;
  font-size: 16px;
  color: #786f5f;
  font-weight: 600;
  margin-left: 5px;
}
.product .product-block .product-block__title span:first-child {
  font-size: 44px;
  font-weight: bold;
  color: #969696;
  letter-spacing: 5px;
}
.product .product-block .product-block__title span:last-child img {
  transform: translateY(-12px);
}
.product .product-block .product-content {
  position: relative;
}
.product .product-block .product-content .product-content__describe {
  padding: 2px 120px;
}
.product
  .product-block
  .product-content
  .product-content__describe
  p:first-child
  span:last-child {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 7px;
  transform: translateY(-38px);
  display: inline-block;
  padding-left: 20px;
}
.product
  .product-block
  .product-content
  .product-content__describe
  p:first-child
  span:first-child {
  display: inline-block;
  width: 100%;
  height: 20px;
  padding: 0 10px;
  background-color: #e1d9c9;
  margin-top: 20px;
}
.product .product-block .product-content .product-content__describe .more {
  padding-left: 15em;
}
.product
  .product-block
  .product-content
  .product-content__describe
  .more
  p:first-child,
.product-content__right .describe p:nth-child(3),
.product-block .product-content__bottom .describe p:nth-child(2) {
  font-family: "Roboto", sans-serif;
  color: #919191;
}
.product
  .product-block
  .product-content
  .product-content__describe
  .more
  p:last-child,
.product-content__right .describe p:nth-child(4),
.product-block .product-content__bottom .describe p:nth-child(3) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  cursor: pointer;
  margin-top: 18px;
}

.product-block .product-content .product-content__right .describe {
  padding-top: 6em;
  padding-right: 10em;
}
.product-block
  .product-content
  .product-content__right
  .describe
  p:nth-child(2),
.product-block .product-content__bottom .describe p:first-child {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 7px;
  margin-bottom: 20px;
}
.product-block
  .product-content
  .product-content__right
  .describe
  p:nth-child(5) {
  margin-top: 50px;
}
.product-block .product-content .product-content__right .des-img {
  position: absolute;
  right: 14em;
  bottom: 0;
}
.product-block .product-content__bottom {
  padding-right: 10em;
  position: relative;
}
.product-block .product-content__bottom .describe {
  padding: 20px 0 0 100px;
}
.product-block .product-content__bottom .block-left p:last-child {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 4px;
  color: white;
  text-shadow: 1px 7px 11px #000000ab;
  text-align: end;
}
.product-block .product-content__bottom .block-left {
  position: absolute;
  left: 130px;
}
/*footer*/

.footer {
  background-color: #ededed;
  padding: 30px 65px;
}
.footer .menuFooter ul > li a {
  text-transform: uppercase;
  color: #919191;
  font-weight: bold;
}
.footer .menuFooter ul > li {
  padding: 0 25px;
}

.footer .address {
  color: #919191;
  padding-left: 40px;
}
.footer .address p:first-child {
  color: #000000;
  font-weight: 600;
}
.footer .contact p:first-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer .contact p:nth-child(2) {
  font-size: 9.5px;
  color: #383838;
  margin: 15px 0 13px 0;
}
.footer .contact p:nth-child(3) {
  height: 25px;
}
.footer .contact p span input {
  outline: none;
  width: 70%;
  height: 100%;
}
.footer .contact p span button {
  border: none;
  height: 100%;
  padding: 0 15px;
  background-color: #000000;
}
.footer .copyright {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #919191;
}
.footer .network ul li {
  padding: 0 30px;
}
.footer .network ul li a {
  color: #676767;
}
